include src/geventhttpclient/*.py
include ext/*.c
include ext/*.h
recursive-include llhttp *.h *.c LICENSE-MIT
global-exclude __pycache__
global-exclude *.py[co]
include pyproject.toml
include README.md
